<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <%- include('./common/navbar.ejs') %>
    <h1 style="text-align: center;">Categories</h1>
    <ul style="text-align: center;">
        <% categories.forEach(function(category) { %>
            <li><a href="/categories/<%= category.category %>"><%= category.category %></a></li>
        <% }); %>
    </ul>
</body>
</html>
