<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <%- include('./common/navbar.ejs') %>
    <h1 style="text-align: center;">Welcome to the Mini player app. Here are the instructions on how to use it:</h1>
    <div class="instructions">
        <p>Use the navigation bar to navigate through pages.</p>
        <p>Press the <span class="white-text">"Songs"</span> button to display the whole library.</p>
        <p>Press the <span class="white-text">"Search"</span> button to enter the search page where you can look for your song.</p>
        <p>Press the <span class="white-text">"Categories"</span> button to display the categories of songs that are in the database.</p>
        <p>You can upload a song to the database using the <span class="white-text">"Upload a new song"</span> section on the <span class="white-text">"Songs"</span> page.</p>
        <p>You can also delete the song from the database by hovering above the song on the <span class="white-text">"Songs"</span> or <span class="white-text">"Search"</span> page and then clicking the <span class="red-text">"Delete"</span> button.</p>
        <p> Press the <span class="white-text">"Home"</span> button to return to this page.</p>
    </div>
</body>
</html>
