<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Mini player app</h1>
    <nav>
        <ul style="display: flex; flex:1; flex-direction: row;">
            <li><a href="/home">Home</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/player">Player</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
</body>
</html>
