<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
<%- include('./common/navbar.ejs') %>
<h1 style="text-align: center;">Player</h1>
<section style="padding: 0px 16px">
    <h2 style="text-align: center;">
        <% if (item) { %>
            Currently playing: <%= `${item.author} - ${item.title}` %>
        <% } else { %>
            No song currently playing
        <% } %>
    </h2>
    <% if (item) { %>
        <audio controls autoplay style="width: 100%;">
            <source src="data:audio/mpeg;base64,<%= item.file_data.toString('base64') %>" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    <% } %>
  <div class="back">
    <a href="/categories">Back to Categories</a>
    <a href="/songs">Back to Songs</a>
    <a href="/search">Back to Search</a>
  </div>
</section>
</body>
</html>
