<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <%- include('./common/navbar.ejs') %>
    <h1 style="text-align: center;">Songs</h1>
    <section>
        <ol>
            <% items.map(e => { %>
                <li style="margin-bottom: 8px;">
                    <a href=<%= `/player/:${e.id}` %>>
                        <%= `${e.author} - ${e.title}` %>
                    </a>
                </li>
            <% }) %>
        </ol>
    </section>
</body>
</html>
