<!DOCTYPE html>
<html>
<head>
    <title>MiniPlayerApp</title>
    <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
    <%- include('./common/navbar.ejs') %>
    <h1 style="text-align: center;">Songs</h1>
    <ul style="text-align: center;">
        <% songs.forEach(song => { %>
            <li><%= song.title %> - <%= song.category %></li>
        <% }); %>
    </ul>
    <form action="/upload" method="post" enctype="multipart/form-data" style="text-align: center;">
        <input type="file" name="song" required>
        <select name="category">
            <option value="rock">Rock</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value="classical">Classical</option>
            <!-- Add more categories as needed -->
        </select>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
