body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

ul {
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    list-style: none;
}

ul li {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.song-item {
    text-align: left;
    flex: none;
}

ul li:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

ul li a {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
}

.back a {
    display: block;
    padding: 10px;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #EB3B3B;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.back a:hover {
    background-color: #c0392b;
}

.delete-form {
    display: inline-block;
    margin-left: 10px;
}

.delete-button {
    display: none;
    background-color: #EB3B3B;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s ease;
    margin-right: 10px;
}

ul li:hover .delete-button {
    display: inline-block;
}

.delete-button:hover {
    background-color: #C0392B;
}

.instructions, .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    width: 600px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.instructions p {
    font-size: 18px;
    color: #111;
    font-weight: bold;
}

.blue-text {
    color: darkslateblue;
}

.red-text {
    color: red;
}
