<% if(items?.length) { %>
    <ul>
        <% items.map(e => { %>
            <li class="song-item">
                <a href=<%= `/player/:${e.id}` %>>
                    <%= `${e.author} - ${e.title}` %>
                </a>
                <form action="/delete/<%= e.id %>" method="post" class="delete-form">
                    <button type="submit" class="delete-button">Usuń</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <H2><%= emptyInfo ? emptyInfo : 'Brak piosenek w bazie' %></H2>
<% } %>