<% if (items && items.length > 0) { %>
    <ul>
        <% items.forEach(e => { %>
            <li class="song-item">
                <a href="<%= `/player/${e.id}` %>">
                    <%= `${e.author} - ${e.title}` %>
                </a>
                <form action="/delete/<%= e.id %>" method="post" class="delete-form">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } else { %>

    <h2>Nothing to display here yet</h2>

<% } %>


